@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 1.5rem;
}

.science::after {
	content: '🚀';
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 4rem;
}

.math::after {
	content: '🧮';
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 4rem;
}

.add-class::after {
	content: '📓';
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 4rem;
}

.add-class:hover {
	cursor: pointer;
}
